.single-project
  width: 100%
  form
    max-width: 600px
    width: 100%
    display: flex
    justify-content: flex-start
    background: #fff
    border-radius: 5px
    border: 1px solid #e5e5e5
    padding: 20px
    margin: 0 auto
    margin-top: 20px

    p
      font-family: 'Arial', sans-serif
      margin-right: 30px

    .input
      margin: 0

    .btn
      margin-top: 0
      margin-left: 10px
